button.button {
    background-color: palevioletred;
    color: blueviolet;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px 16px;
}

button.button:active {
    background-color: rgb(168, 54, 108);
    color: white;
}

